@{
    this.ViewData["Title"] = "About Page";
}
<h1>@this.ViewData["Title"]</h1>

<p>Use this page to detail your site's idea and functionality and invite your user to make a register to continue with app.</p>
