@model Fitness.Web.ViewModels.Category.AllViewModel

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Model.Categories)
        {
            <a class="dropdown-item" href="#">@item.Name</a>
        }
    </div>
</div>

<div class="button-holder">
    <a href="/Category/Create?categorytype=@Model.CategoryType" class="btn btn-success">Create Category</a>
</div>