@model Fitness.Web.ViewModels.Diet.AllViewModel

@{
    this.ViewData["Title"] = "All Diets";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<br />

<div class="row">
    @foreach (var diet in Model.Diets)
    {
    <div class="media col-md-4">
        <div class="media-body">
            <h5 class="mt-0">@diet.Name</h5>
            @diet.Description
            <br />
            <br />
            <a class="btn btn-dark" asp-action="Details" asp-route-id="@diet.Id">View more details</a>
            <hr />
        </div>
    </div>
    }
</div>

<div class="button-holder">
    <a href="/Category/Index?categorytype=diet" class="btn btn-success">Create Diet</a>
</div>