@{
    ViewData["Title"] = "All";
}

<h1>@ViewData["Title"]</h1>

<h2>eheel</h2>

<div>
    <ul>
        @foreach (var diet in Model)
        {
            <li>
                <p>@diet.Name</p>
                <p>@diet.Duration</p>
                <p>@diet.Description</p>
            </li>
        }
    </ul>
</div>